<form class="form-inline my-4 container">
    <div class="row col-sm-12">
        <input class="form-control my-4 col-sm-6" type="search" placeholder="Search" aria-label="Search">
        <div class="col-sm-4"></div>
        <button class="btn btn-outline-success my-4 col-sm-2 align-self-end" type="submit">Add Book</button>
    </div>
</form>
<div class="container">
    <div class="row">
        <app-book-card class="col-sm-6 my-4" *ngFor="let item of list">
            testing
        </app-book-card>
    </div>
    
</div>
