<div class="container">
    <div class="row">
        <div class="col-sm-12 my-4">
            <div class="card card-border">
                <div class="card-body">
                    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="exampleInputEmail1">Book Name</label>
                                <input type="text" class="form-control" id="title"
                                    placeholder="Book Name" formControlName="title">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="authors">Authors</label>
                                <input type="text" class="form-control" id="authors"
                                    placeholder="Authors" formControlName="authors">
                                <small id="authorHelp" class="form-text text-muted">Separate authors with
                                    comma(,)</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="publisher">Publisher</label>
                                <input type="text" class="form-control" id="publisher"
                                    placeholder="Publisher" formControlName="publisher">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="publishedDate">Publishing Date</label>
                                <input type="date" class="form-control" id="publishedDate" 
                                placeholder="Date" formControlName="publishedDate">

                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" 
                            class="btn btn-primary mr-4 col-4 align-self-center"
                            [disabled]="!bookForm.valid">Submit</button>
                            <button type="submit" 
                            class="btn btn-secondary col-4 align-self-center" (click)="back()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>